/* style.css */

/* Import font modern de pe Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    /* Netezire font pentru ecrane Apple/TV */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
}

:root {
    --main-blue: #00a8ff;
    --dark-text: #2c3e50; /* Un bleumarin închis e mai elegant decât griul anterior */
    --bg-white: #ffffff;
    --nav-height: 4.5rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-white);
    color: var(--dark-text);
    line-height: 1.6;
}
/* style.css */
.home-content {
    /* Am eliminat spațiul extra de la final. Acum conținutul începe fix sub Topbar. */
    padding-top: calc(var(--nav-height) + 3rem); 
    padding-bottom: 5rem;
}

@media (max-width: 768px) {
    .home-content {
        /* Pe mobil, unde ecranul e mic, îl lipim la fel de sus */
        padding-top: calc(var(--nav-height) + 3rem);
    }
}